body{
    background-color: #0F0E17;
    font-family: 'Poppins', sans-serif;
    color: white;
    
}
nav{
    color:#A7A9BE;
}

a{
    color:#A7A9BE;
    text-decoration: none;
}

.head{
    margin-top: 1rem;
}

.head .nav-item{
    margin: 0 .5rem;
}

.hero img{
    margin-left: 8rem;
}

.heading-t{
    font-weight: 300;
    margin-bottom: 1rem;
}

.para{
    width: 70%;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5rem;
    border-left: 2px solid #FF8906;
    padding-left: 1rem;
}

.image-p{
    position: relative;
}

.xxx{
    position: absolute;
   margin-top: -16rem;
   margin-left: 0rem;
   background-color: #ff8906;
   width: 40%;
   height: 10%;
   transform:rotate(90deg);
   
}
.xxx h4{
    text-align: center;
    margin-top: 1rem;
    font-weight: 200;
    letter-spacing: .5rem;
}